
.menu_center {
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.top_menu {
    width: 100%;
    height: 30%;

}

.head_img {
    padding: 1rem 1.5rem;
    background-color: #fff;
    border-radius: 50%;
    color: #000;
}

.persion_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    font-size: 1.3rem;
    margin-left: 1rem;
}

.bom_menu {
    width: 100%;
    height: 70%;
    flex-direction: column;
    justify-content: flex-start;
}

.bom_menu div {
    width: 100%;
    height: 12%;
}

.bom_menu div a {
    color: #fff;
}

.menu_title {
    position: absolute;
    top: 18px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    color: #4fd2c2;
    z-index: 1;
}

.all_component {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slide_content, .slide_content2, .slide_content3, .slide_content4, .slide_content5 {
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    position: relative;
}


.slide_content2, .slide_content3, .slide_content4, .slide_content5{
    height: 220%;
}


.home_top_placeholder {
    width: 100%;
    height: 55px;
    background-color: #fff;
    z-index: -1;
}

.home_center {
    width: 90%;
    max-height: 95%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-top: 15px;
    overflow: scroll;
}

.home_item, .memo_item, .memo_add, .bill_item {
    width: 42%;
    margin-bottom: 2rem;
    background-color: #fff;
    position: relative;
    padding: 10px;
}

.home_item div {
    text-align: left;
}

.home_item .item_title h5 {
    text-align: center;
}

.item_content {
    padding-bottom: 2rem;
    font-size: 1.2rem;
}

.item_dollar {
    color: #4fd2c2;
    font-size: 1.5rem;
    position: absolute;
    right: 10px;
    bottom: 5px;
}

.fix {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%) translateY(-15%);
}

.add_btn {
    border: 0;
    background-color: #4fd2c2;
    border-radius: 50%;
    color: #fff;

}

.weui-uploader__input-box:after, .weui-uploader__input-box:before {
    background-color: #fff !important;
}

.alert_action {
    font-size: 1.2rem;
}

.memo_items {
    max-height: 38%;
}

/*  memo 开始*/
.memo_item, .memo_add {
    height: 10rem;
}

.memo_add a {
    display: inline-block;
    height: 100%;
    width: 100%;
}

.memo_add::after, .memo_add::before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #ccc;
}

.memo_add::after {
    width: 2px;
    height: 80px;

}

.memo_add::before {
    width: 80px;
    height: 2px;
}

.memo_input {
    width: 100%;
    height: 100%;
}

.input_content {
    background-color: #fff;
    text-align: left;
    margin-top: 10px;
}

.text {
    height: 400px;
}

.editor_notes {
    height: 500px;
}

.controll_audio {
    width: 100%;
}

.controll_date {
    width: 100%;
    display: none;
    position: relative;
}

.after_date {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.save_meno {
    margin-top: 1rem;
}

.save_btn, .save_notes_btn, .save_plan_btn, .cancel_plan_btn, .save_bill_btn, .save_bill_btn_out{
    background-color: #4fd2c2;
    color: #fff;
    border: none;
    width: 60%;
}

.date{
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 10%;
}

.today {
    font-size: 2rem;
}

.leftBtn, .rightBtn {
    width: 6%;
    font-size: 2rem;
}

.show_all_date {
    color: #00ac2f;
    position: relative;
    padding: 5px;
}

.all_date_input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.showDate {
    width: 70%;
}

.week {
    display: flex;
    justify-content: space-around;

}

.week span {
    width: 25px;
}

.plan_center {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    height: 20%;
    position: relative;

}

.item_time {
    float: right;
    font-size: 1rem;
    line-height: 25px;
}

.add_plan {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
}


.plan_content {
    width: 100%;
    margin: 2rem 0;
    background-color: #fff;
}

.input_plan_btns {
    margin-top: 1rem;
}

.input_plan_btns>div{
    width: 50%;
    height: 100%;

}



.save_plan_btn, .cancel_plan_btn {
    width: 80%;
}

.plan_datetime-picker, .plan_end-datetime-picker {
    width: 100%;
    height: 2rem;
    border:0;
    text-align: right;
    font-size: 1.5rem;
}

.bill_nav {
    position: relative;
    width: 50%;
    height: 55px;
}

.nav_item {
    left: 50%;
    top: 50%;
    transform: translateY(-40%);
    background: #fff;
    border-radius: 25px;
    border: 1px solid #4fd2c2;
}

.weui-navbar__item:active, .weui_bar__item_on{
    background-color: #4fd2c2;
    color: #fff;
}

.nav_flag {
    padding: 5px 0;
    border-radius: 0 25px 25px 0;
}

.bill_account_items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1rem 0;
}

.bill_account_item {
    width: 100%;
    background-color: #fff;

}
.bill_item_center {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    height: 13rem;
    justify-content: space-around;
    background: #f8f8f8;
}

.account_id {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/*备忘录的输入框做适配*/
@media screen and (max-width: 375px) {


    .slide_content2, .slide_content3, .slide_content4, .slide_content5{
        height: 250%;
    }

    .text {
        height: 320px;
    }

    .editor_notes {
        height: 400px;
    }

}
@media screen and (max-width: 320px) {

    .slide_content2, .slide_content3, .slide_content4, .slide_content5{
        height: 250%;
    }

    .text {
        height: 250px;
    }

    .editor_notes {
        height: 350px;
    }

    .plan_center {
        height: 20%;
    }

    .add_plan {
        top: 35%;
    }



}
@media screen and (min-height: 812px) {

    .slide_content2, .slide_content3, .slide_content4, .slide_content5{
        height: 250%;
    }

    .text{
        height: 450px;
    }

    .editor_notes {
        height: 500px;
    }
}


